# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/trampoline
[Bb]in/         Ip adresses open
       Line memonic
# Other files and folders
.settings/creations folders
      Inuaerluendvballreference
# Executables Line 1 Line 2
*.swf memonic timetravel
*.air inpfrenedty
*.ipa emerengecy
*.apk Line caller
Open

